<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzm.base.mapper.UserMapper">

    <resultMap id="baseResultMap" type="user">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="real_name" property="realName"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="remark" property="remark"/>
        <result column="state" property="state"/>
        <result column="deleted" property="deleted"/>
        <result column="update_date" property="updateDate"/>
        <result column="create_date" property="createDate"/>
        <result column="create_date_unix" property="createDateUnix"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, real_name, password, gender, remark, state, deleted, update_date, create_date, create_date_unix
    </sql>

    <insert id="saveUser" parameterType="user">
        insert into `user`(username,real_name,password,gender,remark,update_date,create_date)
        values(#{username},#{realName},#{password},#{gender},#{remark},#{updateDate},#{createDate})
    </insert>

    <update id="updateUser" parameterType="user">
        update `user`
        set username = #{username}
        where id = #{id}
    </update>

    <insert id="deleteUserById" parameterType="integer">
        delete from `user`
        where id = #{id}
    </insert>

    <select id="getUserById" parameterType="integer" resultMap="baseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where id = #{id}
    </select>

    <select id="listUser" resultMap="baseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
    </select>

</mapper>
